/* PC */
@media (min-width: 1280px) {
    .container {
        padding-left: 32px;
        padding-right: 32px;
    }
}

/* Tablet */
@media (min-width: 740px) and (max-width: 1024px){
    #page #region .none {
        display: none;
    }

    #block-50 p {
        padding: 0 0;
    }

    #block-50 .block-title {
        margin-top: 20px
    }

    .container {
        padding-left: 0;
        padding-right: 0;
    }

    .tb-mobi {
        display: inline-block;
        margin-top: 105px;
        padding-left: 0;
        padding-right: 0;
        width: 100%;
    }

    .container #region-content-2{
        display: none;
    }

    #block-50 {
        margin-bottom: 0;
    }
    
    #region {
        margin-top: 0;
        /* overflow: none; */
    }

    #region .view-content {
        padding: 0 0;
        left: 0;
        right: 0;
        width: 100%;
        height: auto;
    }

    .view-document {
        width: 100%;
        height: unset;
    }

    .view-document, .view-content {
        padding: 2em 29px 0;
    }

    .document-list .block-list-panel .block-list-thumbnail {
        position: relative;
        width: 50%;
        float: left;
        margin-right: 1.5em;
    }

    .dot-container {
        bottom: 30px;
    }

    .list1 .block-list--panel {
        width: 100%;
    }

    .list1 .block-list-panel .block-list-thumbnail {
        position: relative;
        width: 50%;
        float: left;
        margin-right: 1.5em;
    }

    .block-list-panel {
        padding: 0 0 0;
        margin-bottom: 2em;
    }

    .block-list-panel .block-list-thumbnail img {
        margin-bottom: 0;
        display: block;
    }

    .document-list {
        width: 100%;
        background: url(./img/home/img-bg-front-orange-paint.jpg) center 0px/1280px auto no-repeat;
        background-position: 50% 90%;
        padding-bottom: 100px;
    }

    .document-list .block-list-panel {
        box-shadow: 0 0 2px rgb(0 0 0 / 10%);
    }

    #contact .container h2 {
        margin-bottom: 10px;
        margin-left: 29px;
        margin-right: 29px;
    }

    #contact .view-content {
        display: block;
    }

    #block-views-page .view-content .flex-panel {
        margin-left: 0;
        margin-right: 0;
    }
    
    .logo-nav {
        background-size: 200px 66px;
        width: 200px;
        height: 66px;
    }

    .nav .container {
        text-align: center;
        height: 5.5em;
    }

    .logo-nav img {
        display: block!important;
        width: 100%;
        height: 100%;
    }

    .user-nav-inner {
        position: absolute;
        bottom: -40px;
        left: 0;
        right: 0;
        transform: none;
        text-align: center;
    }

    .user-nav ul.site-nav li {
        margin: 0 .5em;
    }

    .user-nav ul.site-nav li.first > a {
        background-image: url(./img/icons/ico-donate.svg);
    }

    .user-nav ul.site-nav li.last > a {
        background-image: url(./img/icons/ico-join.svg);
    }

    .nav .site-nav .menu-members a {
        background-image: url(./img/icons/ico-account.svg);
    }


    .nav ul.site-nav li a {
        padding: 0;
        font-size: 1em;
        display: block;
        width: 50px;
        height: 50px;
        text-indent: -9000px;
        background-color: #fff!important;
        box-shadow: 0 2px 20px 0 rgb(0 0 0 / 20%);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 50px;
    }

    .navigation {
        display: none;
    }

    .menu-nav {
        display: inline-block;
    }

    #sign-up {
        text-align: center;
        padding: 1.25em 3em 28em;
        text-align: center;
        background-position: center bottom;
        background-size: auto 24em;
        font-size: 1.3em;
        margin: 0 29px;
    }

    #contact #sign-up a {
        float: none;
    }

    #sign-up .newsletter {
        left: 50%;
        bottom: -5%;
        height: 63%;
        transform: translateX(-50%) rotate(-2deg);
    }

    .footer-nav .button-navigation .menu {
        margin: 0 0px;
    }
    
    .site-footer .small-print {
        margin: 0 40px;
    }

    .get-view {
        margin-bottom: 60px;
    }
    
}

/* Modile */
@media (max-width: 740px) {

    #page {
        background-position: 50% 100%;
    }

    #block-50 p {
        padding: 0 0;
        font-size: 18px;
    }

    #block-50 .block-title {
        margin-top: 20px
    }

    .container {
        padding-left: 0;
        padding-right: 0;
    }

    .tb-mobi {
        display: inline-block;
        margin-top: 105px;
        padding-left: 0;
        padding-right: 0;
        width: 100%;
    }

    .container #region-content-2{
        display: none;
    }

    #block-50 {
        margin-bottom: 0;
    }

    #region .view-content {
        padding: 0 0;
        left: 0;
        right: 0;
        width: 100%;
        height: unset;
    }

    .view-document {
        width: 100%;
        height: unset;
    }

    .view-document, .view-content {
        padding: 2em 29px 0;
    }

    .active-slide .field-body {
        padding: 20px 12px 20px;
    }

    #nav > li {
        display: block;
    }
   
    .container {
        padding-left: 0;
        padding-right: 0;
    }

    #page #region .none,
    #header .search-btn {
        display: none;
    }
    
    #region {
        margin-top: 0;
        overflow: hidden;
    }

    .document-list {
        width: 100%;
    }

    .slide .block-list-thumbnail .thumbnail-tab {
        display: none;
    }

    .slide .field-body {
        padding: 20px 20px 34px;
    }

    .document-list .block-list-panel {
        box-shadow: 0 0 2px rgb(0 0 0 / 20%);
    }

    #block-views-page .view-content .flex-panel {
        margin-left: 0;
        margin-right: 0;
    }

    .block-list-title a {
        font-size: 24px;
    }

    .block-list-excerpt {
        font-size: 16px;
        line-height: 1.4;
    }

    .active-slide .block-list-title {
        padding: 8px 10px;
    }

    .document-list .view-content {
        display: flex;
    }

    #contact .container h2 {
        margin-bottom: 30px;
        margin-left: 0;
        margin-right: 0;
    }

    #block-views-page .block-title {
        margin-top: 30px;
    }

    .dot-container {
        position: absolute;
        width: 100%;
        left: 40%;
        bottom: 10px;
    }

    #prev {
        left: 4px;
    }

    #next {
        right: 4px;
    }

    #prev, #next {
        margin: 0 0;
        top: 46%;
    }
    
    .logo-nav {
        background: url(./img/icons/logo-vegan-society-sml.svg) no-repeat;
        background-size: 200px 66px;
        width: 200px;
        height: 66px;
    }

    .nav .container {
        text-align: center;
        height: 5.5em;
    }

    .logo-nav img {
        display: block!important;
        width: 100%;
        height: 100%;
    }

    .user-nav-inner {
        position: absolute;
        bottom: -40px;
        left: 0;
        right: 0;
        transform: none;
        text-align: center;
    }

    .user-nav ul.site-nav li {
        margin: 0 .5em;
    }

    .user-nav ul.site-nav li.first > a {
        background-image: url(./img/icons/ico-donate.svg);
    }

    .user-nav ul.site-nav li.last > a {
        background-image: url(./img/icons/ico-join.svg);
    }

    .nav .site-nav .menu-members a {
        background-image: url(./img/icons/ico-account.svg);
    }

    .nav ul.site-nav li a {
        padding: 0;
        font-size: 1em;
        display: block;
        width: 50px;
        height: 50px;
        text-indent: -9000px;
        background-color: #fff!important;
        box-shadow: 0 2px 20px 0 rgb(0 0 0 / 20%);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 50px;
    }

    .navigation {
        display: none;
    }

    .menu-nav {
        display: inline-block;
    }

    #sign-up {
        text-align: center;
        padding: 1.25em 8px 14em;
        text-align: center;
        background-position: center bottom;
        background-size: auto 12em;
        font-size: 1.3em;
        margin: 0 29px;
    }

    #contact #sign-up a {
        float: none;
    }

    #sign-up .newsletter {
        bottom: -4%;
        left: 10%;
        height: auto;
        width: 80%;
    }

    .footer-nav .button-navigation ul.menu li {
        font-size: 1.5rem;
        width: auto;
        max-width: 400px;
        display: block;
        margin: 0 auto 1em;
        padding-left: 29px;
        padding-right: 29px;
    }

    .document-list .view-content,
    #contact .view-content {
        display: block;
    }

    .get-view {
        margin-bottom: 40px;
    }

}