* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Helvetica, Arial, sans-serif;
}

body {
    background: #fafbf7;
}

#main {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

#header {
    position: fixed;
    top: -30px; 
    width: 100%;
    padding: 40px 0 20px;
    color: #008375;
    background: #fff;
    z-index: 1;
}

.nav {
    display: inline-block;
    width: 100%;
}

.container {
    max-width: 82em;
    padding-left: 64px;
    padding-right: 64px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.user-nav {
    float: right;
    margin-top: 16px;
}

.menu-nav {
    float: left;
    margin-top: 16px;
}

.logo-nav {
    background: url(./img/icons/logo.png) no-repeat;
    background-size: 323px 112px;
    display: inline-block;    
}

.logo-nav img {
    width: 323px;
    height: 112px;
    max-width: 100%;
}

.site-nav {
    list-style: none;
    margin: 0;
    padding: 0;
    display: inline-block;
}

.site-nav .menu {
    display: inline-block;
    margin: 0;
    padding: 0;
}

.site-nav li a {
    padding: 8px 22px;
    background-color: #008e84;
    color: #fff;
    border-radius: 25px;
}

.site-nav li a:hover {
    background-color: #f8991d;
    text-decoration: none;
}

.site-nav li a {
    text-decoration: none;
}

.site-nav .first a {
    background-color: #f8991d;
}

.site-nav .first a:hover {
    background-color: #f77300;
}

.menu-nav,
.user-nav .site-search {
    width: 33px;
    margin: -10px 0 0 16px;
    display: inline-block;
}

.menu-nav {
    display: none;
    float: left;
    margin-top: 16px;
}

.site-search {
    float: right;
}

/* <!-- ----------- Navigation ----------- --> */


.tb-collapse-nav {
    float: right;
    margin-top: -30px;
}

.tb-collapse-nav .nav-megamenu {
    list-style: none;
}

.nav-megamenu .megamenu-item > a {
    border-right: none;
    border-top: 0;
    color: #008e84;
    font-size: 18px;
    font-weight: 550;
    padding: .4em .5em .5em;
    text-decoration: none;
    display: inline-block;
}

.nav-megamenu .megamenu-item > a:hover {
    background-color: rgba(0,142,132,.9);
    color: #fff;
}

.nav-megamenu .megamenu-item .caret {
    border: none;
    background: transparent url(./img/icons/ico-main-menu-chev-down.svg) left top/12px 11px no-repeat;
    width: 12px;
    height: 11px;
    margin: 6px 0 0 4px;
}

.user-nav-inner,
.nav-megamenu .megamenu-item .caret {
    display: inline-block;
}

.nav-megamenu .megamenu-item  a .vegan-ico {
    display: inline-block;
    background: transparent url(./img/icons/ico-vegan.svg) right 22px center/auto 32px no-repeat;
    height: 32px;
    width: 40px;
    margin-bottom: -10px;
    background-position: 50%;
}

.megamenu-item a:hover .vegan-ico {
    background: transparent url(./img/icons/ico-vegan-hover.svg) right 22px center/auto 32px no-repeat;
    background-position: 50%;
}

.megamenu-item {
    display: inline-block;
}

/* <!-- ----------- submenu ----------- --> */

.tb-submenu {
    position: absolute;
    /* padding-left: 32px;
    padding-right: 32px; */
    margin-left: 32px;
    margin-right: 32px;
    top: 100%;
    left: 0;
    right: 0;
    margin-top: 12px;
    z-index: 1000;
    display: none;
    background-color: rgba(0,142,132,.9);
}

.mega:hover .nav-child,
.megamenu-item:hover .tb-submenu {
    display: block;
}

.tb-submenu .mega-dropdown {
    background-color: rgba(0,142,132,.9);
    box-shadow: 0 5px 10px rgb(0 0 0 / 20%);
}

.tb-megamenu-column-inner {
    overflow: visible;
}

.tb-megamenu-column {
    width: 31.623931623931625%;
    padding: 10px;
    float: left;
}

.mega-col-nav {
    margin-left: 30px;
}

.tb-megamenu-subnav {

}

.tb-megamenu .mega-inner {
    padding: .7em .7em 1em;
}

.tb-megamenu-column-inner > ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.tb-megamenu-subnav .tb-megamenu-item > a {
    padding: .5em .5rem .7em!important;
    display: inline-block;
    width: 100%;
    font-size: 18px;
    font-weight: 600;
}

.tb-megamenu-item {
    list-style: none;
    top: 0;
}

.tb-megamenu-item a {
    color: #fff;
    text-decoration: none;
}

.tb-megamenu-item a:hover {
    background-color: rgba(255,255,255,.2);
}

.tb-megamenu-item .dropdown-menu {
    position: absolute;
    width: 200px;
    background-color: rgba(0,142,132,.9);
    box-shadow: 0 5px 10px rgb(0 0 0 / 20%);
    margin-left: 30%;
    margin-top: 6px;
    top: 0;
}

.nav-child {
    display: none;
}

#tb-megamenu-column-2 {
    width: 200px;
    margin-left: 0;
}

.tb-megamenu-item:hover .tb-submenu {
}

#tb-megamenu-column-2 .tb-megamenu-item > a{
    font-size: 16px;
    font-weight: 500;
    padding: .2em .5rem .5em!important;
}

.mega-dropdown .mega > a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
}


.tb-megamenu-item .lv-2 {
    margin-top: 48px;
}

.tb-megamenu-item .lv-3 {
    margin-top: 88px;
}

.tb-megamenu-item .lv-4 {
    margin-top: 128px;
}


/* <!-- ----------- Page ----------- --> */

#page {
    background: url(./img/home/img-bg-front-orange-paint.jpg) center 140px/1920px auto no-repeat;
    background-position: 50% 0%;
    padding-top: 14px;
}

.tb-mobi {
    display: none;
}

#region {
    margin-top: 160px;
    overflow: hidden;
}

.view-content {
    position: relative;
}

.view-content {
    float: left;
    padding-top: 1em;
    padding-right: 29px;
    width: 66.6667%;
    height: 732px;
}

.view-document {
    padding-top: 1em;
    padding-left: 29px;
    width: 100%;
    height: 732px;
}

#region img {
    width: 100%;
}

.view-content ul {
    position: relative;
    box-shadow: 0 0 10px rgb(0 0 0 / 10%);
}

.view-content ul {
    display: none;
}

.view-content .active {
    display: block;
}

.view-content .slide {
    list-style: none;
}

.dot-container {
    position: absolute;   
    width: 100%;
    left: 50%;
    bottom: 60px;
}

.dot-container button {
    height: 11px;
    width: 11px;
    color: #fff;
    cursor: pointer;
    margin: 0 6px;
    text-indent: -9999px;
    border-radius: 20px; 
    border: none;
    background: #ccc;
    background: rgba(255,2555,255,.7);

    box-shadow: inset 0 0 3px rgb(0 0 0 / 30%);
}

.dot-container button:hover {
    background: #fff;
    background: rgba(255,2555,255,.9);
}

#prev, #next {
    position: absolute;
}

.slide .field-title {
    position: absolute;
    top: 0;
}

.slide .field-title > a {
    color: #fff;
    text-shadow: 0 0 30px #000;
    pointer-events: auto;
}

.slide .block-list-title {
    margin: 32px 0;
    padding: 20px 10px;
}

.block-list-title a {
    font-size: 1.5em;
    font-weight: 600;
}

.slide .block-list-title a {
    color: #000 !important;
}

.field-title .block-list-title > a {
    pointer-events: none;
    text-decoration: none;
    color: #fff;
}

.block-list-thumbnail .thumbnail-tab {
    top: 0;
    right: 0;
    margin: 32px 0;
    padding: 8px 26px 8px;
    font-size: 30px;
    font-weight: 700;
    pointer-events: none;
}

.view-field .block-list-title {
    background-color: #fff;
    font-weight: 750;
    line-height: 1.2em;
    text-align: left;
    opacity: 0.8;
    mix-blend-mode: screen;
}

.view-field .block-list-title:hover {
    background-color: #f8991d;
    color: #fff;
    cursor: pointer;
}

.slide .dark-grad {
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 50%;
    background: linear-gradient(180deg,rgba(0,0,0,1) 0%,rgba(0,0,0,0) 100%);
    opacity: .5;
}

.thumbnail-tab {
    position: absolute;
    right: 0;
    top: 1em;
    display: inline-block;
    padding: 4px 12px 4px 16px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    font-size: 1.3em;
    background-color: #f8991d;
    color: #fff;
    pointer-events: none;
    font-weight: 400;
}

/* .thumbnail-tab .join {

} */

.slide .field-body {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 20px 56px 70px;
    color: #fff;
    background-color: rgba(0,0,0,.5);
    pointer-events: none;
}


.block-list-excerpt {
    font-size: 20px;
    line-height: 1.3;
}

.document-list {
    float: right;
    width: 33.333%;
}

.document-list .view-content {
    width: 100%;
}

.block-list-panel {
    background: #fff;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 1.5em;
    padding: 0 0 1em;
    box-shadow: 0 0 20px rgb(0 0 0 / 30%);
}

.block-list-panel {
    display: inline-block;
    position: relative;
}

.block-list-panel .field-type {
    padding: 0;
}

.document-list .views-field .news,
.document-list .views-field .blog {
    margin: 24px 0;
    font-size: 20px;
    padding: 7px 20px 7px;;
}

.document-list .views-field .blog {
    background-color: #fff;
    color: #008e84;
}

.block-list-panel .block-list-title {
    margin: 10px 0;
    /* margin-bottom: 12px; */
}

.block-list-panel .block-list-title a {
    font-size: 20px;
    color: #008375;
    text-decoration: none;
    line-height: 1.4;
}

.block-list-panel .block-list-title:hover a {
    text-decoration: underline;
}

.views-field {
    padding: 0 16px;
}

.block-list-panel .block-list-excerpt {
    font-size: 16px;
    line-height: 1.5;
    color: #666;
}

.document-list .views-field .news {
    background-color: #008e84;
    color: #fff;
}


/* ------------- Region-content ----------- */
#region-content-2 {
    margin: 60px 0;
}

#block-50 {
    background: #269f96 url(./img/home/img-bg-pledge-block.webp) center/cover no-repeat;
    text-align: center;
    color: #fff;
    margin-bottom: 3em;
    position: relative;
    padding: 1.5em 2em;
    font-size: 1.15em;
    box-shadow: 0 0 20px rgb(0 0 0 / 30%);
}    

#block-50 .block-title {
    color: #fff;
    line-height: 1.2;
    font-size: 1.95em;
    margin-bottom: 30px;
}

#block-50 p {
    max-width: 100%;
    font-size: 1.3em;
    line-height: 1.2;
    padding: 0 15%;
    font-weight: 600;
}

.btn-link {
    font-size: 1em;
    float: none;
    display: inline-block;
    background-color: #f8991d;
    border-radius: 3em;
    padding: .5em 1.25em;
    color: #fff;
    text-transform: none;
    border: none;
    line-height: 1.2;
    width: auto;
    height: auto;
    text-decoration: none;
    margin-top: 30px;
}

#block-50 .btn-link:hover {
    outline: none;
    background-color: #f77300;
    border-color: #f77300;
    text-decoration: none;
}

#block-50 .free-label {
    position: absolute;
    overflow: hidden;
    width: 100px;
    height: 100px;
    top: 3px;
    right: 3px;
}

#block-50 .free-label span {
    background-color: #f8991d;
    color: #fff;
    display: inline-block;
    padding: 100px 100px 8px;
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    text-transform: uppercase;
    font-family: "museo sans 700",Helvetica,Arial,sans-serif;
    font-size: 22px;
    margin: 0 auto;
    text-align: center;
    margin: -65px 0 0 -26px;
    font-weight: 600;
}

#prev, #next {
    display: none;
    width: 50px;
    height: 50px;
    margin: 40px 0 0;
    top: 50%;
    z-index: 10;
    overflow: hidden;
    border: none;
    background: none;
    color: #fff;
    font-size: 50px;
    /* opacity: 0; */
    /* cursor: pointer; */
    color: rgba(0,0,0,-0.2);
    /* color: rgba(0,0,0,.8); */
    text-shadow: 1px 1px 0 rgb(255 255 255 / 30%);
    transition: all .3s ease;
    cursor: pointer;
} 

.view-content:hover #prev, 
.view-content:hover #next {
    display: inline-block;
    
}

#prev:hover,
#next:hover {
    color: #fff;
}

#next {
    right: 50px;
}

#prev {
    left: 50px;
}

/* <!-- ----------- Contact ----------- --> */

#contact {
    padding-bottom: 128px;
}

#contact #block-views-page .view-content {
    padding: 29px 0;
}

.contact .view-content{
    font-size: 0;
}

#contact .container h2 {
    color: #008375;
    font-size: 1.95em;
    line-height: 0.8;
}

#contact .view-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

#contact .view-content {
    height: auto;
}

#contact .view-content .block-list-panel {
    box-shadow: none;
}

/* .list1 {
} */

.slide .block-list-thumbnail .thumbnail-tab {
    background-color: #f8991d;
}

.block-list-thumbnail .thumbnail-tab {
    background-color: #008e84;
}


#block-views-page .block-list-thumbnail .thumbnail-tab {
    margin: 24px 0;
    padding: 8px 24px 8px;
    font-size: 18px;
}


#block-views-page .view-content .block-list-panel {
    overflow: hidden;
}

#block-views-page .view-content .flex-panel {
    margin-left: 60px;
    margin-right: 60px;
}

.block-list-thumbnail img {
    width: 100%;
    margin-bottom: -4px;
}

#contact .block-list-panel .views-field {
    padding: 0 0;
}

#sign-up {
    background-color: #fff;
    border: 2px solid #f8991d;
    color: #666;
    padding: .8em 1.25em 1.5em 45%;
    text-align: right;
    background-image: url(./img/footer/img-bg-newsletter-signup.webp);
    background-repeat: no-repeat;
    background-position: left bottom;
    background-size: auto 98%;
    font-size: 1.15em;
    position: relative;
    overflow: hidden;
}

#contact #sign-up h2 {
    color: #f8991d;
    font-size: 34px;
    line-height: 1.2;
    margin-bottom: 18px;
}

#contact #sign-up p {
    font-size: 20px;
    line-height: 1.3;
}

#contact #sign-up a {
    float: right;

}

#contact #sign-up .btn-link {
    font-size: 1.1em;
    display: inline-block;
}

#sign-up .newsletter {
    position: absolute;
    left: 4%;
    bottom: -7%;
    height: 94%;
    width: auto;
    transform: rotate(-2deg);
    box-shadow: -2px 0 20px 2px rgb(0 0 0 / 38%);
}
/* <!-- ----------- END Contact ----------- --> */


/* <!-- ----------- Footer ----------- --> */

#footer {
    background-color: #008375;
    color: #fff;
    margin-bottom: -20px;
    text-align: center;
    padding: 0 0 80px;
}
/* 2 */
#footer{
    width:100%;
    text-align:center;
    color:#008375;
    -moz-transform:skewY(-1.5deg) translate3d(0,0,0);
    -ms-transform:skewY(-1.5deg) translate3d(0,0,0);
    -webkit-transform:skewY(-1.5deg) translate3d(0,0,0);
    transform:skewY(-1.5deg) translate3d(0,0,0);
}

#footer .site-footer {
    margin:0 auto;
    -moz-transform:skewY(1.5deg) translate3d(0,0,0);
    -ms-transform:skewY(1.5deg) translate3d(0,0,0);
    -webkit-transform:skewY(1.5deg) translate3d(0,0,0);
    transform:skewY(1.5deg) translate3d(0,0,0);
    overflow:hidden;
}

#footer .site-footer {
    margin:0 auto;
    -moz-transform:skewY(1.5deg) translate3d(0,0,0);
    -ms-transform:skewY(1.5deg) translate3d(0,0,0);
    -webkit-transform:skewY(1.5deg) translate3d(0,0,0);
    transform:skewY(1.5deg) translate3d(0,0,0);
    overflow:visible;
}

.social-media {
    position: relative;
    top: -25px;
}

.icon {
    border-radius: 25px;
    display: inline-block;
    text-align: center;
    font-family: Helvetica,Arial,sans-serif;
    background: #fff;
    font-weight: 400;
    color: #ff9e16;
    width: 50px;
    height: 50px;
    /* margin: 0 20px 20px 0; */
    padding-top: 12px;
    text-transform: uppercase;
    text-indent: -9999px;
}

.icon:hover {
    text-decoration: none;
    background-color: #ff9e16;
    cursor: pointer;
}

.icon {
    margin: 0 10px;
    box-shadow: 0 2px 20px 0 rgb(0 0 0 / 30%);
}

.social-media .twitter {
    background-position: 0 -300px;
}

.social-media .facebook {
    background-position: 0 0;
}

/* .social-media .google {
    background-position: 0 -100px;
} */

.social-media .youtube {
    background-position: 0 -400px;
}

.social-media .instagram {
    background-position: 0 -200px;
}
/* <!-- ----------- Hover Icon ----------- --> */

.social-media .twitter:hover {
    background-position: 0 -350px;
}

.social-media .facebook:hover {
    background-position: 0 -50px;
} 

/* .social-media .google {
    background-position: 0 -150px;
} */

.social-media .youtube:hover {
        background-position: 0 -450px;
}

.social-media .instagram:hover {
    background-position: 0 -250px;
}



.twitter,
.facebook,
/* .google, */
.youtube,
.instagram {
    background-image: url(./img/social-s9d8c864714.png);
    background-repeat: no-repeat;
}

.footer-nav {
    padding: 0;
    list-style: none;
    font-size: .875em;
    line-height: 1.71429em;
    display: block;
    margin: 60px auto 0;
}

.footer-nav .button-navigation {
    margin-bottom: 2em;
}

.footer-nav ul {
    padding: 0 0 16px;
    text-align: center;
}

ul.menu {
    border: none;
    list-style: none;
}

.footer-nav .button-navigation ul.menu li {
    border: none;
    font-size: 1.5rem;
    width: 33.33%;
    overflow: hidden;
    display: inline-block;
    vertical-align: top;
    margin-bottom: 1em;
    padding-left: 29px;
    padding-right: 29px;
}

.footer-nav .button-navigation ul.menu li a {
    padding: .6em;
    display: block;
    border: 1px solid #fff;
    border-radius: 3em;
    text-decoration: none;
}

.footer-nav .button-navigation .menu {
    margin: 0 -29px;
    padding: 0;
    font-size: 0;
}

.footer-nav ul.menu {
    font-size: 0;
}

.footer-nav ul.menu li {
    text-transform: none;
    border-right: 1px solid #b2ddda;
    margin: 0;
    padding: 0;
    font-size: 1rem;
}

.footer-nav .leaf {
    display: inline-block;
}

.footer-nav ul.menu li a {
    color: #fff;
    padding: .5em 1em;
}

.footer-nav ul.menu li a:hover {
    text-decoration: none;
}

.footer-nav .button-navigation ul.menu li a:hover,
.footer-nav .button-navigation ul.menu li a:focus,
.footer-nav .button-navigation ul.menu li a.active {
    color: #008e84;
    background-color: #fff;
    text-decoration: none;
}

.footer-nav ul.menu li:last-of-type {
    border: none;
}

/* margin-top: 1em;
} */
.small-print.new-sm {
    font-size: .86em;
    pointer-events: none;
}
.site-footer .small-print {
    color: #fff;
}
.small-print {
    font-size: .75em;
    line-height: 2em;
    font-family: Helvetica,Arial,sans-serif;
    color: #999;
    display: block;
}

